/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.container {
  
}

.bgColor {
  background-color: #C7D0D5;
}

.loginBtn {
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}



.displayPic {
  width: 100px;
  height: 100px;
}

.tdDisplayPic {
  width: 100px;
  padding: 10px
}


.stickLeft {
    margin: 0;
    margin-right: 0;
    padding-left: 10px;
}


}

.newClass {
      text-align: auto }
    
}

.center2 {
    text-align: center;
}

.center2 {
    align-content: center
}

.align-center {
    text-align: center;
    
}

.userRec {
    display: block;
    width: 200px; !important
    height: 200px;!important
}

.test2 {
    width: 100px;
    height: 200px;
}



.logo {
    height:60px;
    width:150px;
    display: block;
    position: relative;
    left: -100%;
}

.top {
  margin: 0;
  position: relative;
  width: 100%;
  background-color: #aaa;
  height: 300px;
  opacity: 1;
  text-align: center;
  font-family: 'helvetica';
  font-size: 80px;
  font-weight: 100;
  color: #fff;
}



.headings {
  background-color: #93B1C6;
  padding: 10px;
}

.titles {
  font-size: 20px;
  font-family:;
  font-weight: bold;
}
